################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/CMake Overview
/.vs/monlo21projet
/.vs/monlo21projet/FileContentIndex
/.vs/monlo21projet/FileContentIndex/03adc2ed-047a-4fb8-a727-a7cf0e6c53d5.vsidx
/.vs/monlo21projet/FileContentIndex/43aaf19b-6200-425e-9e96-f251a466c154.vsidx
/.vs/monlo21projet/v17
/.vs/monlo21projet/v17/.wsuo
/.vs/monlo21projet/v17/Browse.VC.db
/.vs/monlo21projet/v17/Browse.VC.db-shm
/.vs/monlo21projet/v17/Browse.VC.db-wal
/.vs/monlo21projet/v17/Browse.VC.opendb
/.vs/monlo21projet/v17/ipch/AutoPCH
/.vs/monlo21projet/v17/ipch/AutoPCH/10814d0e585bbf96
/.vs/monlo21projet/v17/ipch/AutoPCH/10814d0e585bbf96/MAIN.ipch
/.vs/monlo21projet/v17/ipch/AutoPCH/486dc602aabac41b
/.vs/monlo21projet/v17/ipch/AutoPCH/486dc602aabac41b/AIPLAYER.ipch
/.vs/monlo21projet/v17/ipch/AutoPCH/f6a29e465a357266
/.vs/monlo21projet/v17/ipch/AutoPCH/f6a29e465a357266/AIPLAYER.ipch
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/out/build/x64-Debug
/out/build/x64-Debug/.cmake/api/v1
/out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS
/out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
/out/build/x64-Debug/.cmake/api/v1/reply
/out/build/x64-Debug/.cmake/api/v1/reply/cache-v2-cc8ec7ca7e606d27b157.json
/out/build/x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-86f53a12dfde25bc2c50.json
/out/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-76a14bf88a850077a7cc.json
/out/build/x64-Debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/out/build/x64-Debug/.cmake/api/v1/reply/index-2023-12-15T22-22-49-0734.json
/out/build/x64-Debug/.cmake/api/v1/reply/target-monlo21projet-Debug-65f6a46188670df98312.json
/out/build/x64-Debug/.cmake/api/v1/reply/toolchains-v1-91f7147d8168fcba73f1.json
/out/build/x64-Debug/build.ninja
/out/build/x64-Debug/CMakeCache.txt
/out/build/x64-Debug/CMakeFiles
/out/build/x64-Debug/CMakeFiles/3.27.2-msvc1
/out/build/x64-Debug/CMakeFiles/3.27.2-msvc1/CMakeCCompiler.cmake
/out/build/x64-Debug/CMakeFiles/3.27.2-msvc1/CMakeCXXCompiler.cmake
/out/build/x64-Debug/CMakeFiles/3.27.2-msvc1/CMakeDetermineCompilerABI_C.bin
/out/build/x64-Debug/CMakeFiles/3.27.2-msvc1/CMakeDetermineCompilerABI_CXX.bin
/out/build/x64-Debug/CMakeFiles/3.27.2-msvc1/CMakeRCCompiler.cmake
/out/build/x64-Debug/CMakeFiles/3.27.2-msvc1/CMakeSystem.cmake
/out/build/x64-Debug/CMakeFiles/3.27.2-msvc1/CompilerIdC
/out/build/x64-Debug/CMakeFiles/3.27.2-msvc1/CompilerIdC/CMakeCCompilerId.c
/out/build/x64-Debug/CMakeFiles/3.27.2-msvc1/CompilerIdC/CMakeCCompilerId.exe
/out/build/x64-Debug/CMakeFiles/3.27.2-msvc1/CompilerIdC/CMakeCCompilerId.obj
/out/build/x64-Debug/CMakeFiles/3.27.2-msvc1/CompilerIdCXX
/out/build/x64-Debug/CMakeFiles/3.27.2-msvc1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/out/build/x64-Debug/CMakeFiles/3.27.2-msvc1/CompilerIdCXX/CMakeCXXCompilerId.exe
/out/build/x64-Debug/CMakeFiles/3.27.2-msvc1/CompilerIdCXX/CMakeCXXCompilerId.obj
/out/build/x64-Debug/CMakeFiles/cmake.check_cache
/out/build/x64-Debug/CMakeFiles/CMakeConfigureLog.yaml
/out/build/x64-Debug/CMakeFiles/rules.ninja
/out/build/x64-Debug/CMakeFiles/ShowIncludes
/out/build/x64-Debug/CMakeFiles/ShowIncludes/foo.h
/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.c
/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.obj
/out/build/x64-Debug/CMakeFiles/TargetDirectories.txt
/out/build/x64-Debug/cmake_install.cmake
/out/build/x64-Debug/Testing/Temporary
/out/build/x64-Debug/Testing/Temporary/LastTest.log
/out/build/x64-Debug/VSInheritEnvironments.txt
/aiplayer.h
